rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
  	match /{document=**} {
      allow read, write: if false;
    }

    match /users/{userId} {
    	allow read, create;
      allow write: if request.auth != null && request.auth.uid == userId
    }
    match /questions/{questionId} {
      allow create;
      allow read: if isQuestionAnswered(questionId) || isQuestionAddressee(questionId);
      allow delete: if isQuestionAddressee(questionId);
      allow write: if false;
    }
    match /answers/{answerId} {
      allow read;
      // you can only answer questions asked to you
      allow write: if getQuestionData(getAnswerData(answerId).question).to == request.auth.uid
    }


    // Answer
    function getAnswerData(answerId) {
      return getData('questions', answerId);
    }

    // Question
    function getQuestionData(questionId) {
      return getData('questions', questionId);
    }
    function isQuestionAnswered(questionId) {
      return getQuestionData(questionId).hasAnswer;
    }
    function isQuestionAddressee(questionId) {
      return request.auth != null && request.auth.uid == getQuestionData(questionId).to;
    }

    // Util
    function getData(collection, documentId) {
      return get(/databases/$(database)/documents/$(collection)/$(documentId)).data;
    }
  }
}